@tailwind base;
@tailwind components;
@tailwind utilities;

button > svg {
  margin-right: 5px;
}

@layer utilities {
  .flip-card {
    perspective: 1000px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }
  .gradient-blur {
    -webkit-mask-image: linear-gradient(to top, black 92%, transparent 98%);
    mask-image: linear-gradient(to top, black 92%, transparent 98%);
  }

  .progress-bar .outer {
    box-shadow: 2px 2px 4px -0.5px rgba(0, 0, 0, 0.15),
    -2px -2px 4px -0.5px rgba(207, 213, 254, 0.3);
  }
  .progress-bar .inner {
    box-shadow: inset 1px 1px 1px -0.5px rgb(0, 0, 0, 0.2),
    inset -2px -2px 3px -0.5px rgb(255, 255, 255, 0.7),
    -0.25px -0.25px 0px rgba(255, 255, 255, 1),
    0.25px 0.25px 0px rgba(0, 0, 0, 0.15),
    0px 6px 5px -5px rgba(0, 0, 0, 0.05);
  }
  .progress-bar circle {
    stroke-dashoffset: 243;
  }
  .shine-effect:before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    height: 130%;
    width: 20%;
    left: -30%;
    transform: skewX(-30deg);
    animation: slide 1s infinite;
  }
  .shine-effect:nth-child(2):before{
    animation: slide 1s 1s infinite;
  }
  .shine-effect:nth-child(3):before{
    animation: slide 1s 2s infinite;
  }
  @keyframes slide {
    0%{
      left: -30%;
    }
    100% {
      left: 100%;
    }
  }
  /*text-indigo-900 dark:text-indigo-200 text-base md:text-lg*/
  .markdown-content {
    @apply text-indigo-900 dark:text-indigo-200 text-base md:text-lg;
  }
  .markdown-content p{
    @apply text-base text-orange-500 bg-stone-50 dark:bg-[#484848] shadow-inner p-3 mb-5 rounded-lg;
  }
  .markdown-content h2 {
    @apply text-2xl font-bold text-indigo-400 mb-3;
  }
  .markdown-content h3 {
    @apply text-xl font-bold mb-1;
  }.markdown-content ul {
     @apply mb-5 shadow-inner bg-stone-50 dark:bg-[#484848] px-3 py-2 rounded-md;
   }
  .markdown-reading {
    @apply px-3 lg:px-6 py-4 lg:py-10 text-indigo-900 dark:text-indigo-200 text-base md:text-lg
  }
  .markdown-reading h4 {
    @apply text-xl font-bold mb-1;
  }
  .markdown-reading p{
    @apply mb-5;
  }
}