@tailwind base;
@tailwind components;
@tailwind utilities;

button > svg {
  margin-right: 5px;
}

.container {
  max-width: 1360px;
}
@layer components {
  /*INPUT RANGE*/
  :root {
    --seek-before-width: 0px;
  }
  input[type="range"] {
    @apply appearance-none bg-indigo-200 shadow-inner rounded-md;
  }
  input[type="range"]::before {
    @apply w-[var(--seek-before-width)] content-[""] bg-orange-500 h-3 rounded-tl-md rounded-bl-md absolute top-0 left-0 z-10 cursor-pointer;
  }
  input[type="range"]::-moz-range-progress {
    @apply w-[var(--seek-before-width)] content-[""] bg-orange-500 h-3 rounded-tl-md rounded-bl-md absolute top-0 left-0 z-10 cursor-pointer;
  }
  input[type="range"]::-webkit-slider-thumb {
    @apply appearance-none h-[15px] w-[15px] rounded-full border-0 bg-red-300 cursor-pointer relative z-20 box-border hover:scale-110 hover:bg-indigo-400 transition-all;
  }
  input[type="range"]::-moz-range-track {
    @apply appearance-none bg-indigo-200 shadow-inner rounded-md;
  }
  input[type="range"]::-moz-range-thumb {
    @apply appearance-none h-[15px] w-[15px] rounded-full border-transparent bg-red-300 cursor-pointer relative -mt-0.5 z-20 box-border hover:scale-110 hover:bg-indigo-400 transition-all;
  }
  input[type="range"]::-ms-track {
    @apply appearance-none bg-indigo-200 shadow-inner rounded-md;
  }
}

@layer utilities {
  /* SCROLL TO TOP BTN*/
  .icon-style {
    animation: movebtn 3s ease-in-out infinite;
  }
  .icon-style:hover {
    animation: none;
    background: #fff;
    color: #6366f1;
  }
  @keyframes movebtn {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(5px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .flip-card {
    perspective: 1000px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }
  .gradient-blur {
    -webkit-mask-image: linear-gradient(to top, black 92%, transparent 98%);
    mask-image: linear-gradient(to top, black 92%, transparent 98%);
  }

  .swiper .swiper-button-prev {
    height: 100%;
    top: 0;
    width: 6%;
    left: 0;
    color: #ff8d3c;
    border-radius: 6px 0 0 6px;
    background: linear-gradient(
      90deg,
      rgba(29, 4, 89, 0.15) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    margin-top: 0;
    transition: all 0.3s ease-in;
  }
  .swiper .swiper-button-next {
    height: 100%;
    top: 0;
    width: 6%;
    right: 0;
    color: #ff8d3c;
    border-radius: 0px 6px 6px 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(29, 4, 89, 0.15) 100%
    );
    margin-top: 0;
    transition: all 0.3s ease-in;
  }
  .swiper .swiper-button-prev:hover {
    background: linear-gradient(
      90deg,
      rgba(29, 4, 89, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    color: #f8b483;
  }
  .swiper .swiper-button-next:hover {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(29, 4, 89, 0.3) 100%
    );
    color: #f8b483;
  }
  .dark .swiper .swiper-button-prev {
    color: white;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .dark .swiper .swiper-button-next {
    color: white;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
  .dark .swiper .swiper-button-prev:hover {
    background: linear-gradient(
      90deg,
      rgba(7, 1, 21, 0.8) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    color: #ff8d3c;
  }
  .dark .swiper .swiper-button-next:hover {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(7, 1, 21, 0.8) 100%
    );
    color: #ff8d3c;
  }

  .progress-bar .outer {
    box-shadow: 2px 2px 4px -0.5px rgba(0, 0, 0, 0.15),
      -2px -2px 4px -0.5px rgba(207, 213, 254, 0.3);
  }
  .progress-bar .inner {
    box-shadow: inset 1px 1px 1px -0.5px rgb(0, 0, 0, 0.2),
      inset -2px -2px 3px -0.5px rgb(255, 255, 255, 0.7),
      -0.25px -0.25px 0px rgba(255, 255, 255, 1),
      0.25px 0.25px 0px rgba(0, 0, 0, 0.15),
      0px 6px 5px -5px rgba(0, 0, 0, 0.05);
  }
  .progress-bar circle {
    stroke-dashoffset: 243;
  }
  .shine-effect:before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    height: 130%;
    width: 20%;
    left: -30%;
    transform: skewX(-30deg);
    animation: slide 1s infinite;
  }
  .shine-effect:nth-child(2):before {
    animation: slide 1s 1s infinite;
  }
  .shine-effect:nth-child(3):before {
    animation: slide 1s 2s infinite;
  }
  @keyframes slide {
    0% {
      left: -30%;
    }
    100% {
      left: 100%;
    }
  }
  .bg-gradient {
    @apply dark:bg-gradient-to-r dark:from-stone-800 dark:to-stone-900 bg-gradient-to-r from-indigo-50 to-white;
  }
  .markdown-content {
    @apply text-indigo-900 dark:text-indigo-200 text-base md:text-lg;
  }
  .markdown-content p {
    @apply text-base text-orange-500 bg-stone-50 dark:bg-black/30 shadow-inner p-3 mb-5 rounded-lg;
  }
  .markdown-content h2 {
    @apply text-3xl font-bold text-indigo-400 mb-5 mt-12;
  }
  .markdown-content h3 {
    @apply text-xl font-bold mb-1;
  }
  .markdown-content ul {
    @apply mb-5 shadow-inner bg-stone-50 dark:bg-black/30 px-3 py-2 rounded-md;
  }
  .markdown-content img {
    @apply opacity-80 hover:opacity-100 transition-opacity duration-150;
  }
  .markdown-reading {
    @apply px-3 lg:px-6 py-4 lg:py-10 text-indigo-900 dark:text-indigo-200 text-base md:text-lg;
  }
  .markdown-reading h4 {
    @apply text-xl font-bold mb-1 text-indigo-500 tracking-wide;
  }
  .markdown-reading p {
    @apply mb-5;
  }
  .markdown-reading strong {
    @apply text-orange-500;
  }
}
